<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form method="post" id="form">
        <ul>
            <label for="username">Usuario: </label>
            <input type="text" name="username" />
            <label for="password">Contraseña: </label>
            <input type="text" name="password" />
            <button type="submit" id="submit">Log-in</button>
        </ul>
    </form>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
</body>

</html>