<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategories</title>
</head>
<body>
    <div>
        <ul th:each="sub : ${subcat}">
            <a th:href="@{${'/'+language + '/products/' + sub.category_id}}"><li th:text="|${sub.name}|"></li></a> 
        </ul>
    </div>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
</body>
</html>