<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link href='https://fonts.googleapis.com/css?family=Imbue' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <script type="text/javascript" src="../js/cart.js"></script>
    <title>Cart</title>
</head>
<body>
    <header>
        <figure id="banner">
            <a href="../index.html"><img src="../img/cabecera.jpg" alt="Banner" id="banner-img"></a>
            <a href="../index.html"><img src="../img/logo.png" alt="Logo" id="flag-img"></a>
            <a href="./login.html"><img src="../img/user.png" alt="User icon" id="user-icon"></a>
            <a href="./cart.html"><img src="../img/cart.png" alt="Cart icon" id="cart-icon"></a>
        </figure>
    </header>
    <nav id='nav_bar'>
        <div id='nav-links'>
            <div class="dropdown">
                <a href="./category.html" id="weapons-link">ARMAS</a>
                <div class="dd-content">
                    <a href="./category.html">ESPADAS Y DAGAS</a>
                    <a href="./category.html">HACHAS</a>
                    <a href="./category.html">MAZAS Y BASTONES</a>
                    <a href="./category.html">ARROJADIZAS</a>
                    <a href="./category.html">ESCUDOS</a>
                    <a href="./category.html">OTROS</a>                
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="armors-link">ARMADURAS</a>
                <div class="dd-content">
                    <a href="./category.html">METAL</a>
                    <a href="./category.html">CUERO</a>
                    <a href="./category.html">COTA DE MALLA</a>
                    <a href="./category.html">GAMBESONES</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="clothes-link">ROPA</a>
                <div class="dd-content">
                    <a href="./category.html">TORSO</a>
                    <a href="./category.html">PANTALONES Y FALDAS</a>
                    <a href="./category.html">CALZADO</a>
                    <a href="./category.html">SOMBREROS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="others-link">MISCELÁNEA</a>
                <div class="dd-content">
                    <a href="./category.html">TABERNA</a>
                    <a href="./category.html">JOYERÍA Y ACCESORIOS</a>
                    <a href="./category.html">MAQUILLAJE</a>
                    <a href="./category.html">ROL DE MESA</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="about-us-link">SOBRE NOSOTROS</a>
                <div class="dd-content">
                    <a href="./category.html">¿QUIÉNES SOMOS?</a>
                    <a href="./supplier.html">PROVEEDORES</a>
                </div>
            </div>
        </div>
        <div id="searchbox">
            <form id="search">
                <input type="text" id="usr-search" name="usr-search" placeholder="Buscar...">
            </form>
        </div>
    </nav>
    <main>
        <section>
            <div id="cart-content">
                <div id="products-list">
                    <div class="cart-product">
                        <div class="cart-product-img">
                            <img class="product-image" src="../img/products/product111.jpg" alt="Imagen del producto">
                        </div>
                        <div class="product-info">
                            <a href="product.html"><p class="product-name">Chafarote Orco</p></a>
                            <div class="cart-product-price-quantity">
                                <div class="cart-product-price">99.99€</div>
                                <div class="cart-product-quantity">
                                    <select id="quantity" name="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-product">
                        <div class="cart-product-img">
                            <img class="product-image" src="../img/products/product111.jpg" alt="Imagen del producto">
                        </div>
                        <div class="product-info">
                            <a href="product.html"><p class="product-name">Chafarote Orco</p></a>
                            <div class="cart-product-price-quantity">
                                <div class="cart-product-price">99.99€</div>
                                <div class="cart-product-quantity">
                                    <select id="quantity" name="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-product">
                        <div class="cart-product-img">
                            <img class="product-image" src="../img/products/product111.jpg" alt="Imagen del producto">
                        </div>
                        <div class="product-info">
                            <a href="product.html"><p class="product-name">Chafarote Orco</p></a>
                            <div class="cart-product-price-quantity">
                                <div class="cart-product-price">99.99€</div>
                                <div class="cart-product-quantity">
                                    <select id="quantity" name="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="payment-info">
                    <div id="total-price">
                        <p id="price-title">Precio total</p>
                        <p class="product-name-price">Chafarote Orco -> 99.99€</p>
                        <p class="product-name-price">Chafarote Orco -> 99.99€</p>
                        <p class="product-name-price">Chafarote Orco -> 99.99€</p>
                        <p id="price-sum">Total = 299.97€</p>
                    </div>
                    <div id="payment-method">
                        <p id="payment-method-title">Método de Pago</p>
                        <div class="payment-methods-row">
                            <div class="payment-icon"><img src="../img/visa.png" alt="Icono de Visa" height="30px"></div>
                            <div class="payment-icon"><img src="../img/mastercard.png" alt="Icono de MasterCard" height="30px"></div>
                        </div>
                        <div class="payment-methods-row">
                            <div class="payment-icon"><img src="../img/applepay.png" alt="Icono de ApplePay" height="30px"></div>
                            <div class="payment-icon"><img src="../img/paypal.png" alt="Icono de PayPal" height="30px"></div>
                        </div> 
                    </div>
                </div>
            </div>
            <div id="cart-buttons">
                <input id="delete-button" onclick="deleteCart()" type="button" value="Limpiar Carrito">
                <input id="buy-button" onclick="buyCart()" type="button" value="Comprar">
            </div>
        </section>
        <footer>
            <div id="footer-info">
                <div class="footer-section">
                    <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Sobre nosotros</li>
                        <li>Nuestras marcas</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>INFORMACIÓN LEGAL</h3>
                    <ul>
                        <li>Aviso legal</li>
                        <li>Política de envíos y devoluciones</li>
                        <li>Política de privacidad</li>
                        <li>Política de cookies</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>INFORMACIÓN</h3>
                    <ul>
                        <li>Contacta con nosotros</li>
                        <li>De Lunes a viernes de 10:00 a 14:00 y de 16:00 a 20:00</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>CONTACTO</h3>
                    <ul>
                        <li>Email: info@ kingsforge .com</li>
                        <li>24 horas online</li>
                    </ul>
                </div>
            </div>
            <div id="socials-container">
                <a href="http://facebook.com"><img src="../img/facebook.png" alt="Facebook Icon"></a>
                <a href="http://youtube.com"><img src="../img/youtube.png" alt="Youtube Icon"></a>
                <a href="http://twitter.com"><img src="../img/twitter.png" alt="Twitter Icon"></a>
                <a href="http://instagram.com"><img src="../img/instagram.png" alt="Instagram Icon"></a>
            </div>
    </footer>
    </main>
</body>
</html>