<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/suppliers.css">
    <link href='https://fonts.googleapis.com/css?family=Imbue' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <title>Cart</title>
</head>
<body>
    <header>
        <figure id="banner">
            <a href="../index.html"><img src="../img/cabecera.jpg" alt="Banner" id="banner-img"></a>
            <a href="../index.html"><img src="../img/logo.png" alt="Logo" id="flag-img"></a>
            <a href="./login.html"><img src="../img/user.png" alt="User icon" id="user-icon"></a>
            <a href="./cart.html"><img src="../img/cart.png" alt="Cart icon" id="cart-icon"></a>
        </figure>
    </header>
    <nav id='nav_bar'>
        <div id='nav-links'>
            <div class="dropdown">
                <a href="./category.html" id="weapons-link">ARMAS</a>
                <div class="dd-content">
                    <a href="./category.html">ESPADAS Y DAGAS</a>
                    <a href="./category.html">HACHAS</a>
                    <a href="./category.html">MAZAS Y BASTONES</a>
                    <a href="./category.html">ARROJADIZAS</a>
                    <a href="./category.html">ESCUDOS</a>
                    <a href="./category.html">OTROS</a>                
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="armors-link">ARMADURAS</a>
                <div class="dd-content">
                    <a href="./category.html">METAL</a>
                    <a href="./category.html">CUERO</a>
                    <a href="./category.html">COTA DE MALLA</a>
                    <a href="./category.html">GAMBESONES</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="clothes-link">ROPA</a>
                <div class="dd-content">
                    <a href="./category.html">TORSO</a>
                    <a href="./category.html">PANTALONES Y FALDAS</a>
                    <a href="./category.html">CALZADO</a>
                    <a href="./category.html">SOMBREROS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="others-link">MISCELÁNEA</a>
                <div class="dd-content">
                    <a href="./category.html">TABERNA</a>
                    <a href="./category.html">JOYERÍA Y ACCESORIOS</a>
                    <a href="./category.html">MAQUILLAJE</a>
                    <a href="./category.html">ROL DE MESA</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="./category.html" id="about-us-link">SOBRE NOSOTROS</a>
                <div class="dd-content">
                    <a href="./category.html">¿QUIÉNES SOMOS?</a>
                    <a href="./supplier.html">PROVEEDORES</a>
                </div>
            </div>
        </div>
        <div id="searchbox">
            <form id="search">
                <input type="text" id="usr-search" name="usr-search" placeholder="Buscar...">
            </form>
        </div>
    </nav>
    <main>
        <section>
            <h1 id="supplier-name">Rawblade</h1>
            <div id="supplier-container">
                <div id="supplier-image"><img src="../img/suppliers/supplier2.jpg" alt="" height="400px" width="auto"></div>
                <div id="supplier-info">
                    <div id="supplier-description">
                        <p id="description-text">"Rawblade is a B2B company, focused on the world of medieval reenactment and LARP. Rawblade tries to contribute to the market the know-how of Spanish crafts, with a long tradition of furs and leather, as well as steel. Inspired by the famous Toledo steel, Rawblade develops a set of armours and chainmails. The human team behind Rawblade is formed from the experience acquired at www.eviltailors.com, as well as the various platforms that have been integrating it over time. The hard work, in designs and ideas, that make up the Rawblade catalog, is the result of inspiration in the world of medieval fantasy that has accompanied them since childhood. They offer a quality wardrobe at a very competitive price. They try to use products and producers from Spain. All of their leather goods are made 100% in Spain, adding the seal of quality of their crafts. Their foam creations, clothes and steel plates are designed and made in Spain and India."</p>
                        <a href="https://rawblade.com" id="description-webpage">Rawblade's Homepage</a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div id="footer-info">
                <div class="footer-section">
                    <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Sobre nosotros</li>
                        <li>Nuestras marcas</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>INFORMACIÓN LEGAL</h3>
                    <ul>
                        <li>Aviso legal</li>
                        <li>Política de envíos y devoluciones</li>
                        <li>Política de privacidad</li>
                        <li>Política de cookies</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>INFORMACIÓN</h3>
                    <ul>
                        <li>Contacta con nosotros</li>
                        <li>De Lunes a viernes de 10:00 a 14:00 y de 16:00 a 20:00</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>CONTACTO</h3>
                    <ul>
                        <li>Email: info@ kingsforge .com</li>
                        <li>24 horas online</li>
                    </ul>
                </div>
            </div>
            <div id="socials-container">
                <a href="http://facebook.com"><img src="../img/facebook.png" alt="Facebook Icon"></a>
                <a href="http://youtube.com"><img src="../img/youtube.png" alt="Youtube Icon"></a>
                <a href="http://twitter.com"><img src="../img/twitter.png" alt="Twitter Icon"></a>
                <a href="http://instagram.com"><img src="../img/instagram.png" alt="Instagram Icon"></a>
            </div>
    </footer>
    </main>
</body>
</html>