<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King's Forge</title>
    <link rel="stylesheet" href="css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Imbue' rel='stylesheet'>
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <header>
        <figure id="banner">
            <a href="./index.html"><img src="img/cabecera.jpg" alt="Banner" id="banner-img"></a>
            <a href="./index.html"><img src="img/logo.png" alt="Logo" id="flag-img"></a>
            <a href="./html/login.html"><img src="img/user.png" alt="User icon" id="user-icon"></a>
            <a href="./html/cart.html"><img src="./img/cart.png" alt="Cart icon" id="cart-icon"></a>
        </figure>
    </header>
    <nav id='nav_bar'>
        <div id='nav-links'>
            <div class="dropdown">
                <a href="html/category.html" id="weapons-link">ARMAS</a>
                <div class="dd-content">
                    <a href="html/category.html">ESPADAS Y DAGAS</a>
                    <a href="html/category.html">HACHAS</a>
                    <a href="html/category.html">MAZAS Y BASTONES</a>
                    <a href="html/category.html">ARROJADIZAS</a>
                    <a href="html/category.html">ESCUDOS</a>
                    <a href="html/category.html">OTROS</a>                
                </div>
            </div>
            <div class="dropdown">
                <a href="html/category.html" id="armors-link">ARMADURAS</a>
                <div class="dd-content">
                    <a href="html/category.html">METAL</a>
                    <a href="html/category.html">CUERO</a>
                    <a href="html/category.html">COTA DE MALLA</a>
                    <a href="html/category.html">GAMBESONES</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="html/category.html" id="clothes-link">ROPA</a>
                <div class="dd-content">
                    <a href="html/category.html">TORSO</a>
                    <a href="html/category.html">PANTALONES Y FALDAS</a>
                    <a href="html/category.html">CALZADO</a>
                    <a href="html/category.html">SOMBREROS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="html/category.html" id="others-link">MISCELÁNEA</a>
                <div class="dd-content">
                    <a href="html/category.html">TABERNA</a>
                    <a href="html/category.html">JOYERÍA Y ACCESORIOS</a>
                    <a href="html/category.html">MAQUILLAJE</a>
                    <a href="html/category.html">ROL DE MESA</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="html/category.html" id="about-us-link">SOBRE NOSOTROS</a>
                <div class="dd-content">
                    <a href="html/category.html">¿QUIÉNES SOMOS?</a>
                    <a href="html/supplier.html">PROVEEDORES</a>
                </div>
            </div>
        </div>
        <div id="searchbox">
            <form id="search">
                <input type="text" id="usr-search" name="usr-search" placeholder="Buscar...">
            </form>
        </div>
    </nav>
    <main>
        <section id="secondary-banner">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
        
                    <div class="slide first">
                        <img src="img/1.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/2.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/3.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/4.jpg" alt="">
                    </div>
        
                    <div class="navigation-auto">
                        <div class="auto-btn-1"></div>
                        <div class="auto-btn-2"></div>
                        <div class="auto-btn-3"></div>
                        <div class="auto-btn-4"></div>
                    </div>
                </div>
        
                
            <div class="navigation-mannual">
                <label for="radio1" class="mannual-btn"></label>
                <label for="radio2" class="mannual-btn"></label>
                <label for="radio3" class="mannual-btn"></label>
                <label for="radio4" class="mannual-btn"></label>
            </div>
            </section>
            <section class="index-products">
                <div class="products-list-title">
                    <h2>MÁS VENDIDOS</h2>
                </div>
                <div class="index-products-list">
                    <div class="product">
                        <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                        <a href=""><p class="product-name">Chafarote Orco</p></a>
                        <p class="product-price"> 99.99€
                        <img src="img/addtocart.png"></p>
                    </div>
                    <div class="product">
                        <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                        <a href=""><p class="product-name">Hacha Bárbara Brode</p></a>
                        <p class="product-price"> 99.99€
                        <img src="img/addtocart.png"></p>
                    </div>
                    <div class="product">
                        <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                        <a href=""><p class="product-name">Maza Real</p></a>
                        <p class="product-price"> 99.99€
                        <img src="img/addtocart.png"></p>
                    </div>
                    <div class="product">
                        <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                        <a href=""><p class="product-name">Ajos Arrojadizos</p></a>
                        <p class="product-price"> 99.99€
                        <img src="img/addtocart.png"></p>
                    </div>
                    <div class="product">
                        <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                        <a href=""><p class="product-name">Escudo Élfico Morgang</p></a>
                        <p class="product-price"> 99.99€
                        <img src="img/addtocart.png"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="index-products">
            <div class="products-list-title">
                <h2>MÁS VENDIDOS</h2>
            </div>
            <div class="index-products-list">
                <div class="product">
                    <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                    <a href=""><p class="product-name">Chafarote Orco</p></a>
                    <p class="product-price"> 99.99€
                    <img src="img/addtocart.png"></p>
                </div>
                <div class="product">
                    <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                    <a href=""><p class="product-name">Hacha Bárbara Brode</p></a>
                    <p class="product-price"> 99.99€
                    <img src="img/addtocart.png"></p>
                </div>
                <div class="product">
                    <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                    <a href=""><p class="product-name">Maza Real</p></a>
                    <p class="product-price"> 99.99€
                    <img src="img/addtocart.png"></p>
                </div>
                <div class="product">
                    <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                    <a href=""><p class="product-name">Ajos Arrojadizos</p></a>
                    <p class="product-price"> 99.99€
                    <img src="img/addtocart.png"></p>
                </div>
                <div class="product">
                    <a href=""><img class="product-image" src="img/products/product111.jpg"></a>
                    <a href=""><p class="product-name">Escudo Élfico Morgang</p></a>
                    <p class="product-price"> 99.99€
                    <img src="img/addtocart.png"></p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer-info">
            <div class="footer-section">
                <h3>SOBRE NOSOTROS</h3>
                <ul>
                    <li>Sobre nosotros</li>
                    <li>Nuestras marcas</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>INFORMACIÓN LEGAL</h3>
                <ul>
                    <li>Aviso legal</li>
                    <li>Política de envíos y devoluciones</li>
                    <li>Política de privacidad</li>
                    <li>Política de cookies</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>INFORMACIÓN</h3>
                <ul>
                    <li>Contacta con nosotros</li>
                    <li>De Lunes a viernes de 10:00 a 14:00 y de 16:00 a 20:00</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>CONTACTO</h3>
                <ul>
                    <li>Email: info@kingsforge.com</li>
                    <li>24 horas online</li>
                </ul>
            </div>
        </div>
        <div id="socials-container">
            <a href="http://facebook.com"><img src="./img/facebook.png" alt="Facebook Icon"></a>
            <a href="http://youtube.com"><img src="./img/youtube.png" alt="Youtube Icon"></a>
            <a href="http://twitter.com"><img src="./img/twitter.png" alt="Twitter Icon"></a>
            <a href="http://instagram.com"><img src="./img/instagram.png" alt="Instagram Icon"></a>
        </div>
</footer>
    </main>
</body>
</html>