#supplier-name{
    text-align: center;
    color: #352315;
    font-size: 3em;
    font-weight: bolder;
}

#supplier-container{
    background-color: #CAC3BF;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#image-container{
    display: flex;
    justify-content: center;
}

#supplier-image{
    justify-self: center;
    width: 90%;
    height: auto;
    max-height: 400px;
    margin-top: 40px;
}

#supplier-info{
    margin: 20px 50px 20px 0px;
    text-align: justify;
    font-weight: bold;
    width: 70%;
}

#description-webpage{
    color: #225524;
}

#supplier-description{
    font-size: 2em;
}

@media (max-width: 1075px) {
    #supplier-img{
        position: relative;
        width: 100%;
        height: 400px;
    }
}